/* starting mobile design first to load faster on mobile devices */

:root {
    --BrightOrange: hsl(31, 77%, 52%);
    --DarkCyan: hsl(184, 100%, 22%);
    --VeryDarkCyan: hsl(179, 100%, 13%);
    --TransparentWhite /*(paragraphs)*/: hsla(0, 0%, 100%, 0.75);
    --VeryLightGray /*(background, headings, buttons)*/: hsl(0, 0%, 95%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--VeryLightGray);
    font-size: 0.938rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    width: min(300px, 70%);
    margin: 50px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 35px;
    line-height: 23px;
}

section:nth-child(1) {
    background-color: var(--BrightOrange);
    border-radius: 5px 5px 0 0;
}

section:nth-child(2) {
    background-color: var(--DarkCyan);
}

section:nth-child(3) {
    background-color: var(--VeryDarkCyan);
    border-radius: 0 0 5px 5px;
}

img {
    width: 60px;
    height: 40px;
}

img, h1, p {
    margin-bottom: 15%;
}

p {
    color: var(--TransparentWhite);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
}

h1 {
    color: var(--VeryLightGray);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 1.875rem;
}

button {
    width: 130px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: var(--VeryLightGray);
    color: currentColor;
}

h2 {
    font-size: 0.813rem;
    font-weight: 100;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(1) h2 {
    color: var(--BrightOrange);
}

section:nth-child(2) h2 {
    color: var(--DarkCyan);
}

section:nth-child(3) h2 {
    color: var(--VeryDarkCyan);
}

button:hover {
    border: solid;
    border-width: 2px;
    border-color: var(--VeryLightGray);
    background-color: inherit;
    cursor: pointer;
}

section h2:hover {
    color: white;
}

/* desktop design */

@media screen and (min-width: 376px) {
    
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    section:nth-child(1) {
        border-radius: 10px 0 0 10px;
    }

    section:nth-child(3) {
        border-radius: 0 10px 10px 0;
    }

    section {
        height: 450px;
    }

}
